:root{
    --main_bg_color: #F8F9FA;
    --first_color: #495057;
    --second_color: #E9ECEF;
}

*{
  margin: 0;
  padding: 0;
}

body{
    background-color: var(--main_bg_color);
}

.not_through{
    margin-left: 5px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    font-family: "Noto Sans Thai";
    font-size: 1.1rem;
    background-color: var(--second_color);
}

header h1{
    font-weight: 700;
}

.main_line{
    background-color: var(--first_color);
    height: 0.3vh;
    margin-bottom: 2vh;
}

.descrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Sarabun";
    font-size: 0.9rem;
    text-indent: 3em;
}

.descrip p{
    font-weight: 300;
    width: 90%;
}

@media(min-width: 769px){
    header{
        height: 6.5rem;
        font-size: 1.5rem;
    }
    .main_line{
        height: 0.5vh;
        margin-bottom: 4.5vh;
    }
    .descrip{
        font-size: 1.2rem;
    }
}