*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main_bg_color: #F8F9FA;
    --first_color: #495057;
    --second_color: #E9ECEF;
    --text_color: #000000;
    --soft_first: #CFD2D4;
    --hover_second: #ffffff;
    --heavy_second: #DEE2E3;
    --button_active: #D4D4D4;
}

html{
    background-color: var(--main_bg_color);
}

header{
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 5vh;
    font-family: "Noto Sans Thai";
}

.header{
    min-height: 4.7vh;
    background-color: var(--second_color);
}

.header a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2%;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text_color);
    text-decoration: none;
}

.header_line{
    height: 0.3vh;
    margin-top: auto;
    background-color: var(--first_color);
}

.descrip{
    display: flex;
    justify-content: center;
    font-family: "Sarabun";
    font-size: 1rem;
}

.descrip p{
    font-weight: 300;
}

.set_calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 8vh;
}

.set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.set h4{
    font-family: "Sarabun";
    font-weight: 400;
    cursor: pointer;
}

.set button{
    height: 2.5rem;
    aspect-ratio: 1/1;
    font-family: "Noto Sans Thai";
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    background: transparent;
    border: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    color: var(--text_color);
}

.set button:active{
    background-color: var(--button_active);
    border-radius: 50%;
    transform: scale(0.9);
}

.calendar_block{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sarabun";
    outline: 0.4vw solid var(--first_color);
    background-color: var(--second_color);
}

.day_name{
    z-index: 1;
    padding: 0.25em;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--soft_first);
}

.date{
    font-size: 1.2rem;
    font-weight: 200;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.date:hover{
    font-size: 1.3rem;
    font-weight: 300;
    background-color: var(--hover_second);
}

.date:active{
    font-size: 1rem;
    font-weight: 300;
    background-color: var(--button_active);
}

.block_day{
    background-color: var(--heavy_second);
}

.block_day:hover{
    font-size: 1.2rem;
    font-weight: 200;
    background-color: var(--heavy_second);
    cursor: default;
}

.cell_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.7em 0.2em;
    text-align: center;
    outline: 0.1rem solid var(--first_color);
    background-color: var(--second_color);
}

.cell_hour{
    font-size: 0.35rem;
    padding: 0;
}

.cell_time{
    font-size: 0.25rem;
}

#first_element{
    margin-top: 6.5vh;
}

#out_calendar{
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 43vh;
    margin: 0.2rem 0.75rem 1rem;
}

#year{
    width: 70%;
    opacity: 60%;
}

#year h4{
    font-size: 1.3rem;
}

#year button{
    height: 2rem;
    font-size: 1.5rem;
}

#month{
    margin-bottom: 0.8rem;
}

#month h4{
    font-size: 1.65rem;
}

#calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 0.8fr repeat(5, 2fr);
    width: 100%;
    margin-top: auto;
}

#cell{
    margin: 0 0.75rem;
    font-family: "Sarabun";
    font-size: 0.32rem;
    font-weight: 400;
}

#cell_header{
    display: flex;
    justify-content: center;
    margin-bottom: 0.7rem;
}

#cell_header h4{
    font-size: 1.2rem;
    font-weight: 450;
}

#class_cell{
    display: grid;
    grid-template-columns: 2.5fr repeat(12, 3.5fr);
    grid-template-rows: repeat(2, 0.5fr) 1.5fr;
    width: 100%;
}

@media(min-width: 768px){
    header{
        min-height: 7.5vh;
    }
    .header{
        min-height: 7.1vh;
    }
    .header a{
        font-size: 2rem;
    }
    .header_line{
        height: 0.4vh;
    }
    .descrip{
        font-size: 1.2rem;
    }
    .set_calendar{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        min-height: 5vh;
        margin-bottom: 1.2rem;
    }
    .set h4{
        font-weight: 500;
    }
    .set button{
        width: auto;
        height: 4rem;
        font-size: 3rem;
        font-weight: 300;
    }
    .calendar_block{
        outline: 0.3vw solid var(--first_color);
    }
    .day_name{
        font-size: 1.2rem;
    }
    .date{
        font-size: 2rem;
    }
    .date:hover{
        font-size: 2.3rem
    }
    .date:active{
        font-size: 1.8rem;
    }
    .block_day:hover{
        font-size: 2rem;
    }
    .cell_hour{
        font-size: 0.7rem;
    }
    .cell_time{
        font-size: 0.5rem;
    }
    #first_element{
        margin-top: 9vh;
    }
    #out_calendar{
        min-height: 0;
        margin: 0.2rem 1.2rem 1rem;
    }
    #year{
        width: 35%;
        opacity: 100%;
    }
    #year h4{
        font-size: 2rem;
    }
    #year button{
        height: 4rem;
        font-size: 3rem;
    }
    #month{
        width: 60%;
        margin-bottom: 0;
    }
    #month h4{
        font-size: 2.2rem;
    }
    #cell{
        margin: 2rem 1.2rem;
        padding: 0.2rem 0.1rem;
        font-size: 0.6rem;
    }
    #cell_header{
        margin-bottom: 1rem;
    }
    #cell_header h4{
        font-size: 1.5rem;
    }
    #class_cell{
        grid-template-columns: 2.5fr repeat(12, 3.5fr);
        grid-template-rows: repeat(2, 1.5fr) 4fr    ;
    }
}

@media(min-width: 1024px){
    .header a{
        font-size: 2.5rem;
    }
    .calendar_block{
        outline: 0.25vw solid var(--first_color);
    }
    .cell_hour{
        font-size: 1rem;
    }
    .cell_time{
        font-size: 0.75rem;
    }
    #out_calendar{
        margin: 0.1rem 1.5rem 1rem;
    }
    #cell{
        margin: 0.1rem 1.5rem;
        font-size: 0.85rem;
    }
}

@media(min-width: 1280px){
    header{
        min-height: 10vh;
    }
    .header{
        min-height: 9.5vh;
    }
    .header a{
        font-size: 2rem;
    }
    .header_line{
        height: 0.5vh;
    }
    .descrip{
        font-size: 1.2rem;
    }
    .set_calendar{
        min-height: 10vh;
    }
    .calendar_block{
        outline: 0.2vw solid var(--first_color);
    }
    .day_name{
        font-size: 1.1rem;
    }
    .date{
        font-size: 1.7rem;
    }
    .date:hover{
        font-size: 2.2rem
    }
    .date:active{
        font-size: 1.5rem;
    }
    .block_day:hover{
        font-size: 1.7rem;
    }
    .cell_hour{
        font-size: 1.3rem;
    }
    .cell_time{
        font-size: 1rem;
    }
    #first_element{
        margin-top: 12vh;
    }
    #out_calendar{
        margin: 0 4rem 2rem;
    }
    #cell{
        margin: 0 4rem 3rem;
        font-size: 1rem;
    }
    #class_cell{
        grid-template-columns: 2.5fr repeat(12, 3.5fr);
        grid-template-rows: repeat(2, 1.2fr) 2.5fr;
    }
}